*{
    box-sizing: border-box;
}

body{
    padding: 15px;
    background: #dadada;
    color: #0b0b0b;
}

h1{
    font-size: 1.4rem;
}

 button{
    min-width: max-content;
 }

.df{
    display: flex;
}
.jcsb{
    justify-content: space-between;
}
.aic{
    align-items: center;
}
.tac{
    text-align: center;
}