* {
    box-sizing: border-box;
}

body {
    padding: 15px;
    /* background: #dadada; */
    color: #0b0b0b;
}

h1 {
    font-size: 1.4rem;
}



button {
    border: 1px solid #00a7df;
    color: #00a7df;
    width: 100%;
    padding: 5px;
    margin-top: 1.2rem;
    border-radius: 0.9rem;
    cursor: pointer;
    transition: 0.4s;
}

button:hover {
    background-color: #cc8800;
    color: #fff;
    border: 1px solid #cc8800;
}

button .active {
    background-color: #cc8800;
    color: #fff;
    border: 1px solid #cc8800;
}



.df {
    display: flex;
}

.jcsb {
    justify-content: space-between;
}

.aic {
    align-items: center;
}

.tac {
    text-align: center;
}

.fdc {
    flex-direction: column;
}

.hidden {
    display: none;
}

.container {
    margin: 0 auto;
    padding: 1rem;
    max-width: 1100px;
}

/* ! imputs */

input {
    height: 1.8rem;
    width: 15.75rem;
    font-size: 1rem;
    color: #838383;
    border: 2px dashed #cc8800;
    border-radius: 1.9rem;
    padding-left: 1.1rem;
    box-shadow: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input:invalid {
    border: 2px dashed red;
}

input:disabled {
    border: 2px dashed #c5c5c5;
}

input:focus-visible {
    outline: 0 !important;
}

/* ! imputs */


.btnsWrapper {
    margin-top: 10vh;
}

.sectionInner {
    min-height: 15vh;
}

.pacientList_item {
    margin-top: 1rem;
    max-height: 8rem;
    overflow: hidden;
    padding: 15px;
    border: #c5c5c5 1px solid;
    border-radius: 1rem;
    background: #f4f4f4;
    -webkit-box-shadow: 9px 6px 11px -6px rgba(0, 0, 0, 0.68);
    -moz-box-shadow: 9px 6px 11px -6px rgba(0, 0, 0, 0.68);
    box-shadow: 9px 6px 11px -6px rgba(0, 0, 0, 0.68);
}

.pacientList_item div {
    margin-bottom: 10px;
}

.pacientList{
  padding-bottom: 3rem;
}

.pacientList_item_name{
    font-weight: 700;
}

.pacientList_item_plase{
    color: #00a7df;
}

.buttonWrapper{
    position: fixed;
    bottom: 0;
    left: 0;
    background: #fff;
    padding: 0 20px 20px 20px;
    width: 100%;
    -webkit-box-shadow: 0px -11px 22px -6px #fff;
    -moz-box-shadow: 0px -11px 22px -6px #fff;
    box-shadow: 0px -11px 22px -6px #fff;
}